/* Mobile version */
@media screen and (min-width: 360px) and (max-width: 768px) {
  /* Header */
  .navbar {
    width: 100%;
    height: 100%;
    padding: 0 20px;
  }
  .navbar .navbar-group {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar .navbar-group .nav-group .nav-item a {
    display: none;
  }
  .navbar .nav-button {
    display: none;
  }
  .navbar .navbar-group .nav-icon-button{
    display: block;
  }
  .container{
    padding: 0 10px;
    margin-bottom: 340px;
  }
  .header-imag pre {
    font-size: 9px;
    line-height: 20px;
    padding-left: 0px;
  }
  .header-imag h3 {
    font-size: 39px;
    padding-left: 11px;
    margin-bottom: 50px;
  }
  .header-imag .header-button .btn-warning {
    margin-left: calc(20% - 15px);
  }
  /* Container project */

  .project-list .project-list-item {
    width: 100%;
    height: 100%;
    display: block;
    margin-left: 0;
    margin-top: 30px;
  }
  .project-list .project-list-item .project-list-icon {
    width: 0;
    height: 100px;
    margin-bottom: 10px;
  }
  .project-list .project-list-item .project-list-text{
    font-size: 10px;
  }
  .project-hr {
    display: none;
  }
  .project-list {
    width: 100%;
    height: 50%;
    display: block;
  }
  /* History page */
  .history-page{
    width: 100%;
    display: block;
    padding: 0 10px;
  }
  .history-page .history-page-left{
    padding-left: 0;
    margin-bottom: 15px;
  }
  .history-page .history-page-left .history-page-title{
    width: 340px;
    font-size: 30px;
    margin-bottom: 0;
  }
  .history-page .history-page-left .history-page-text{
    width: 350px;
    font-size: 10px;
  }
  /* Footer */
  .footer .footer-BgImag {
    height: 80%;
    padding: 30px 10px;
    display: block;
  }
  .footer .footer-BgImag .footer-BgImag-title{
    width: 100%;
    font-size: 30px;
  }
  .footer-BgImag-imag img{
    width: 120px;
  }
  .footer .footer-bottom{
    height: 30%;
    display: block;
    padding: 0;
  }
  .footer-bottom .footer-nav{
    width: 100%;
    height: 80%;
    display: block;
  }
  .footer-bottom .footer-nav .footer-nav-logo{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .footer-bottom .footer-nav .footer-nav-ul{
    width: 100%;
  }
  .footer-icons-ul{
    width: 100%;
    height: 0%;
    justify-content: center;
  }
}
/* Ipad mini and Ipad */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* Header */
  .navbar {
    width: 100%;
    height: 100%;
    padding: 0 20px;
  }
  .navbar .navbar-group {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar .navbar-group .nav-group .nav-item a {
    display: none;
  }
  .navbar .nav-button {
    display: none;
  }
  .navbar .navbar-group .nav-icon-button{
    display: block;
  }
  .container{
    padding: 0 10px;
    margin-bottom: 450px;
  }
  .header-imag pre {
    font-size: 9px;
    line-height: 20px;
    padding-left: 0px;
  }
  .header-imag h3 {
    font-size: 39px;
    padding-left: 11px;
    margin-bottom: 50px;
  }
  .header-imag .header-button .btn-warning {
    margin-left: calc(20% - 15px);
  }
  /* Container project */
  
  .project-list .project-list-item {
    width: 100%;
    height: 100%;
    display: block;
    margin-left: 0;
    margin-top: 30px;
  }
  .project-list .project-list-item .project-list-icon {
    width: 0;
    height: 100px;
    margin-bottom: 10px;
    margin: 20px auto;
  }
  .project-list .project-list-item .project-list-title{
    text-align: center;
    font-size: 40px;
  }
  .project-list .project-list-item .project-list-text{
    width: 100%;
    font-size: 20px;
    text-align: justify;
  }
  .project-hr {
    display: none;
  }
  .project-list {
    width: 100%;
    height: 50%;
    display: inline-block;
  }
  /* History page */
  .history-page{
    width: 100%;
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
  }
  .history-page .history-page-left{
    padding-left: 0;
    margin-bottom: 15px;
  }
  .history-page .history-page-left .history-page-title{
    width: 340px;
    font-size: 30px;
    margin-bottom: 0;
  }
  .history-page .history-page-left .history-page-text{
    width: 350px;
    font-size: 10px;
  }
  /* Footer */
  .footer .footer-BgImag {
    height: 80%;
    padding: 30px 10px;
    display: flex;
    justify-content: center;
  }
  .footer .footer-BgImag .footer-BgImag-title{
    width: 100%;
    font-size: 45px;
  }
  .footer-BgImag-imag img{
    width: 120px;
  }
  .footer .footer-bottom{
    height: 30%;
    display: block;
    padding: 0;
  }
  .footer-bottom .footer-nav{
    width: 100%;
    height: 80%;
    display: block;
  }
  .footer-bottom .footer-nav .footer-nav-logo{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .footer-bottom .footer-nav .footer-nav-ul{
    width: 100%;
  }
  .footer-icons-ul{
    width: 100%;
    height: 0%;
    justify-content: center;
  }
}
